@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo</h1>
    <p class="lead">Constant Contact integration with .NET MVC Application</p>
    <p>
        @Html.ActionLink("Get started >>", "Contact", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>